In [5]:
import pandas as pd
from tqdm import tqdm 
import requests
from bs4 import BeautifulSoup

df = pd.read_csv('books.csv')
df.head()

,title,book_link,img_link,book_rating,book_price,stock_availability
0,A Light in the Attic,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...,Three,Â£51.77,In stock
1,Tipping the Velvet,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...,One,Â£53.74,In stock
2,Soumission,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...,One,Â£50.10,In stock
3,Sharp Objects,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...,Four,Â£47.82,In stock
4,Sapiens: A Brief History of Humankind,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...,Five,Â£54.23,In stock

### Approach - 1

In [6]:
data = []

for link in tqdm(df['book_link']):
    
    res = requests.get(link)
    soup = BeautifulSoup(res.text,'html.parser')
    
    typ                = soup.find('ul',class_ ='breadcrumb').find_all('a')[2].text
    upc                = soup.find('table',class_ ='table table-striped').find_all('td')[0].text
    price_ex           = soup.find('table',class_ ='table table-striped').find_all('td')[2].text[2:]
    price_in           = soup.find('table',class_ ='table table-striped').find_all('td')[3].text[2:]
    tax                = soup.find('table',class_ ='table table-striped').find_all('td')[4].text[2:]
    Availability       = soup.find('table',class_ ='table table-striped').find_all('td')[5].text
    Number_of_reviews  = soup.find('table',class_ ='table table-striped').find_all('td')[6].text
    
    
    data.append([typ,upc,price_ex,price_in,tax,Availability,Number_of_reviews])

100%|██████████████████████████████████████████████████████████████████████████████| 1000/1000 [25:57<00:00,  1.56s/it]

### Aproach -2

In [7]:
data = []

for link in tqdm(df['book_link']):
    
    soup = BeautifulSoup(res.text,'html.parser')
    
    typ                =  soup.find('ul',class_ ='breadcrumb').find_all('a')[2].text
    
    temp               = soup.find('table',class_ ='table table-striped').find_all('td')
    
    upc                = temp[0].text
    price_ex           = temp[2].text[2:]
    price_in           = temp[3].text[2:]
    tax                = temp[4].text[2:]
    Availability       = temp[5].text
    Number_of_reviews  = temp[6].text
    
    
    data.append([typ,upc,price_ex,price_in,tax,Availability,Number_of_reviews])

100%|██████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:32<00:00, 30.50it/s]

In [10]:
df1 = pd.DataFrame(data,columns = ["category","upc","price_ex","price_in","tax","Availability","Number_of_reviews"])

In [11]:
df1.to_csv('data.csv',index = False)